* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Mulish', sans-serif;
    background: #F9F4FB;
    display: flex;
    flex-direction: column;



}

main {
    text-align: center;
}

.astronaut img {
    width: min(36.4rem, 90%);


}

h1,
h2 {
    color: #B52184;
    font-weight: 900;
}

p {
    font-weight: 600;
    color: #312D64;
    width: min(26.5rem, 90%);
    margin-top: 1.9rem;

}

.sun {
    width: min(35.2rem, 90%);
    background: #FFFFFF;
    border-radius: 19px;
    padding: 2.6rem;
    margin: 5.2rem auto 5.2rem;

    box-shadow: 0px 3.3px 13.2px rgba(0, 0, 0, 0.25);
    ;
    text-align: start;


}

.suns {
    background: linear-gradient(#343193, #302C63);



}

.suns img {
    width: 8.0rem;
    margin-bottom: 1.3rem;
}